# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env
.venv
venv.bak/
ENV.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Flask stuff
instance/
.webassets-cache

# Audio files
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.aac

# Dataset directories
datasets/
samples/
tmp/
tmp_*/

# Model files
*.pkl
*.h5
*.joblib
*.model

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/
*.code-workspace

# Pycharm
.idea/
*.iml

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Large media files
*.mp4
*.tiff
*.avi
*.mov
*.wmv

# Cache and log files
*.log
logs/
*.cache
.cache/ 


venv_py312/
*whl
